.task__input{
    box-shadow: 0 0 24px var(--primary-color);
    border-radius: 5px;
    padding: 6px;
    margin: 0 6px 0 0;
    height: 100%;
}

.input__add__button{
    background: var(--negative-color);
    height: 100%;
    border-radius: 2px;
}

.input__add__button svg {
    width: 100%;
    height: 100%;
}