.task__box {
    border-radius: 8px;
    background-color: beige;
    width: 85%;
    min-height: 48px;
    text-align: left;
    margin: 6px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 10px;
    padding: 10px;
    overflow-wrap: break-word;
    position: relative;
}

.input__add__button{
    height: 100%;
    border-radius: 2px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 0;
    top: 50%;
}

.input__add__button svg {
    width: 100%;
    height: 100%;
}